{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h2>Configurations</h2>
    {% for config in carconfigs %}
        <input name='config' id='config-{{config}}' type='radio' value='{{config}}'><label for='config-{{config}}'>{{config}}</label><br />
    {% end %}

    <h2>Drivers</h2>
    {% for driver in drivers %}
        <input name='driver' id='driver-{{driver}}' type='radio' value='{{driver}}'><label for='driver-{{driver}}'>{{driver}}</label><br />
    {% end %}

    <h3>Controls</h3>
    <button id='configure' class='btn btn-secondary'>Configure Car</button><br />

    <div id='drive-controls'>
        <button id='toggle-drive' class='btn btn-primary btn-large'>Start</button>
    </div>

    <h2>Data Collection</h2>
    <input id='custom-telemetry-path' type='checkbox'>

    Record to: <input id='telemetry-path' disabled>Path here</input><br />
    Throttle constrain?<br />
</div>

<script type='text/javascript'>
    let config;
    //let observer = new Proxy();
    $(document).ready(function() {
        $("#toggle-drive").click(function() {
            let val = $(this).text();
            let that = this;
            if (val == "Start") {
                // start drive
                $.ajax({
                    type: "POST",
                    url: "drive", 
                    data: {
                        "command": "start",
                        "config": $('input[name="config"]:checked').val(),
                        "driver": $('input[name="driver"]:checked').val()
                    },
                    success: function(data) {
                        console.log(data);
                        $(that).text("Stop");
                    } 
                });
            } else {
                // stop drive
                $.ajax({
                    type: "POST",
                    url: "drive", 
                    data: {"command": "stop"},
                    success: function(data) {
                        console.log(data);
                        $(that).text("Start"); 
                    }
                });
            }
        });
        $("#custom-telemetry-path").change(function(){
            if ($(this).prop('checked')) {
                $("#telemetry-path").prop('disabled', false);
            } else {
                $("#telemetry-path").prop('disabled', true);
            }
        });


        $("#configure").click(function(){
            let config = $('input[name="config"]:checked').val();
            let path = null;

            if ($("#custom-telemetry-path").prop('checked')) {
                path = $("#telemetry-path").val();
            }            
            $.ajax({
                type: "POST",
                url: "config", 
                data: {
                    "config": config,
                    "path": path
                },
                success: function(data) {
                    console.log(data);
                }
            });
            
        });
    });
</script>
{% end %}
